//RUBIK
/*@import url('https://fonts.googleapis.com/css?family=Rubik');*/

@font-face {
    font-family: 'Rubik-Black';
    src: url('/Content/Fonts/Rubik-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('/Content/Fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('/Content/Fonts/Roboto-Regular.ttf') format('truetype');
}