@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('/Content/Fonts/AmaticSC-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('/Content/Fonts/AmaticSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'GloriaHallelujah';
    src: url('/Content/Fonts/GloriaHallelujah.ttf') format('truetype');
}