@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('/Content/Fonts/AmaticSC-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('/Content/Fonts/AmaticSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Light';
    src: url('/Content/Fonts/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('/Content/Fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('/Content/Fonts/Comfortaa-Bold.ttf') format('truetype');
}