@import '../Variables/colors.scss';
@import '../Variables/fonts.scss';
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: rgba(255,255,255,0.5);

    .tb-btn {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 0;
        font-size: 18px;
        margin: 0 5px;
        background-color: $color-black;
        color: $color-primary;

        &.active {
            background-color: $color-primary;
            color: $color-black;
        }
    }

    .extra-choices-container {
        display: inline-block;
        position: relative;

        .extra-choices {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: -100px;
            height: 100px;
            justify-content:space-around;
        }
    }
}
