@import '../Variables/colors.scss';
.footer-container{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    border-top:1px solid $color-white;
    z-index:1;
    background-color:$color-white;
    display:flex;
    align-items:center;
    justify-content:center;
}
